.html,body {
    color: black;
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
    color: black;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.color {
    color: white;
}

/*modification sur la taille des élements de la page et le font size */
.margin-left{
    margin-left: auto;
}
.margin-bottom {
    margin-bottom: 15px;
}
.padding {
    padding: 13px;
}
.padding-top {
    padding-top: 30px;
}
.padding-a-gauche{
    padding-left: 20px;
}
.border-bottom {
    border-bottom: 3px solid #99E2D0;
}
.font-familly-title {
    font-family: 'Shrikhand', cursive;
    font-size: 28px;
}
.font-size-logo {
    font-size: 25px;
}

/* modification des logos sur la page */
.icone-fleche-gauche{
    align-items: center;
    font-size: 25px !important;
}
.heart{
    font-size: 33px !important;
    position: absolute;
}
.heart-two{
    font-variation-settings:'FILL' 1,'wght' 700,'GRAD' 200,'opsz' 48;
    font-size: 33px !important;
    position: relative;
    opacity: 0;
}
.heart-two:hover{
    font-variation-settings:'FILL' 1,'wght' 700,'GRAD' 200,'opsz' 48;
    position: relative;
    transition: 400ms;
    cursor: pointer;
    opacity: 100%;
    background: linear-gradient(162deg, #ff79da 0%, #9356dc 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.check-validation{
  font-variation-settings:'FILL' 1,'wght' 400,'GRAD' 0,'opsz' 48;
    color: white;
    margin: auto;
    font-size: 35px !important;
}
/*fin des modifications des icones sur la page*/
/*modification en display& justify& align*/
.display-none {
    display: none;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.justify-content-around {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 55px;
}
.justify-content-align-items-center{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.justify-content-center {
    display: flex;
    justify-content: center;
}
.text-ellipsis{
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* effet de transition bas en haut menu*/
@keyframes slidedown {
    from {
        transform: translateY(200px);
        opacity: 0%;
    }
    to {
        transform:translateY(0);
        opacity: 1;
    }    
}
.container {
    margin: 20px;
    box-shadow: inset 0 -2000px 10px 10px #fff;
    animation: slidedown 3s;
}
img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.background-img {
    position: absolute;
    background-image: url(../Maquettes-Ohmyfood/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
    background-size: cover;
    background-position: 50% 0%;
    width: 100%;
    height: 270px;
}
.logo1 {
    width: 50%;
    height: auto;
    padding: 20px;
}
.img-menu {
    object-position: 50% 60%;
    object-fit: cover;
    width: 100%;
    height: 235px;
}
.title-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 55px 25px 25px;
}
section {
    position: relative;
    z-index: 1;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    background-color: white;
    margin-top: 215px;
}
.custom-card-content {
    display: flex;
    overflow: hidden;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    border-radius: 15px;
    box-shadow: 0px 1px 5px rgb(135, 134, 134);
    margin: 25px 0px 30px 0px;
}
.custom-card-check {
    width: 0;
}
.custom-card-content:hover .custom-card-check {
    display: flex;
    background-color: #99E2D0;
    width: 23%;
    height: 81px;
    transition: 800ms;
}
.custom-card-content:hover i.fa-solid.fa-circle-check {
    transition: transform 800ms ease;
    transform: rotate(360deg);
}
.custom-card-text{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
span.sous-titre {
    font-size: 19px;
    font-weight: 900;
    margin-bottom: 7px;
}
.btn-section1 {
    width: 50%;
    border: none;
    border-radius: 30px;
    color: white;
    background: linear-gradient(#FF79DA, #9356DC);
    padding: 13px;
    margin: 30px 0px 60px 0px;
    box-shadow: 0px 4px 5px grey;
}
input.btn-section1:hover {
    box-shadow: 0px 1px 15px grey;
    opacity: 0.9;
}

/* modification du bloc footer*/
footer {
    background: #0e0e0ed5;
    width: 100%;
    height: 100%;
}
h4.title-footer {
    font-size: 25px;
    font-family: 'Shrikhand', cursive;
    color: white;
}
.bloc-footer {
    display: flex;
    flex-direction: column;
    margin: 0px 25px 0px 30px;


}
.partenariat{
    font-variation-settings:'FILL' 1,'wght' 500,'GRAD' 200,'opsz' 48;
}

/*modification sur les tailles des différents écran*/
@media screen and (min-width: 550px){
    .justify-content-around {
        margin-right: 120px;
    }
    .title-menu{
        justify-content: space-evenly;
    }
    .font-familly-title {
        font-size: 40px;
    }
    .fa-regular.fa-heart {
        font-size: 40px;
        position: absolute;
    }
    .fa-solid.fa-heart {
        font-size: 40px;
        opacity: 0;
    }
    .background-img{
        height: 415px;
    }
    section{
        margin-top: 375px;
    }
    .btn-section1{
        width: 40%;
    }
}
@media screen and (min-width:900px) {
    .logo1{
        width: 40%;
    }
    .justify-content-around {
        margin-right: 200px;
    }
    .title-menu {
        justify-content: space-evenly;
    }
    .font-familly-title {
        font-family: 'Shrikhand', cursive;
        font-size: 43px;
    }
    .fa-regular.fa-heart {
        font-size: 40px;
    }
    .fa-solid.fa-heart {
        font-size: 40px;
    }
    .background-img{
        height: 475px;
    }
    section{
        margin-top: 425px;
    }
    .btn-section1{
        width: 30%;
    }
    
}
@media screen and (min-width:950px) {
    i.fa-solid.fa-arrow-left {
        font-size: 30px;
    }
    .container{
        display: flex;
        justify-content: space-evenly;
        align-items: baseline;
        margin: 0;
        width: 100%;
    }
    .bloc-cards{
        width: 30%;
    }
    .btn-section1 {
        width: 25%;
    }
    h4.title-footer{
        font-size: 33px;
    }
    ul{
        font-size: 20px;
    }
}
